.DS_Store
.gitignore
node_modules
/public
prof
tsconfig.tsbuildinfo
.obsidian
.quartz-cache
private/
.replit
replit.nix

# Ignore all content except "Explore my Brain"
content/*
!content/Explore my Brain/
!content/index.md
